ul li{
  display: inline;
}
li {
margin-left:10px;
}
.container label{

}
.width_100{
width:100%;
}
h1{
margin:0;

}
header{
height:60px;
padding-top:10px;
background-color:#6655cd;
text-align:center;
}

input[type=radio] {
  margin: 0;
  vertical-align: middle;
}

#comment{

}